<div class="users-index">
  <h2>ユーザ一覧</h2>
  <div class="main">
    <table>
      <% @users.each do |user| %>
      <tr>
        <th><%= user.name %></th>
        <td><%= link_to "確認", user %></td>
        <% if current_user == user %>
          <td><%= link_to "削除", user_path(user), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>
