<div class="users-index">
  <h2 class="mt-4">ユーザ一覧</h2>
  <div class="users-main">
    <% @users.each do |user| %>
      <div class="user-list">
        <h3><%= user.name %></h3>
        <%= link_to "確認", user, class: "btn btn-primary" %>
        <%= link_to "削除", user_path(user), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
