.wrap {
  background-color: #f0f2f5;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#navbar {
  background-color: #ffffff;
  height: 55px;
  padding: 0;
  position: relative;
  .nav-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    li {
      width: 120px;
      text-align: center;
      float: left;
      height: 55px;
      line-height: 55px;
      margin-right: 5px;
    }
    li:last-child {
      margin-right: 0;
    }
    li a {
      text-decoration: none;
      display: block;
    }
  }
}
.user-entry{
  width: 1200px;
  margin: 130px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .catch-copy {
    width: 600px;
    .catch-copy-title {
      color: #1877f2;
      font-size: 3.5rem;
      font-weight: bold;
      margin-bottom: 0;
    }
    .catch-copy-content {
      margin-top: 0;
      font-size: 1.6rem;
      font-weight: lighter;
      width: 470px;
    }
  }
  .form {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
    margin: auto 0;
    height: 100%;
    ul {
      width: 304px;
      padding: 0;
      margin: 0 auto;
    }
    li {
      text-align: left;
      list-style: none;
      width: 300px;
      margin: 10px 0;
    }
    .field {
      width: 100%;
      height: 25px;
      padding: 0;
      margin: 0;
    }
    .form-btn {
      text-align: right;
    }
    .btn {
      color: #ffffff;
      background-color: #1877f2;
      height: 30px;
      border: none;
      border-radius: 5px;
      width: 100%;
      margin-top: 10px;
      font-weight: bold;
    }
    .btn:hover {
      background-color: #0f69df;
      cursor: pointer;
    }
  }
}
.posts-index {
  margin: 0 auto;
  padding-bottom: 100px;
  h2 {
    text-align: center;
  }
  .main {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
  }
  .post-info {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 700px;
    .edit-post-link {
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
}
.posts-edit {
  margin: 0 auto;
  padding-bottom: 100px;
  h2 {
    text-align: center;
  }
  .form {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    .text-area {
      width: 694px;
      margin-bottom: 20px;
    }
    .file-field {
      margin: 10px;
    }
    .btn {
      color: #ffffff;
      background-color: #1877f2;
      height: 30px;
      border: none;
      border-radius: 5px;
      width: 100%;
      font-weight: bold;
    }
    .btn:hover {
      background-color: #0f69df;
      cursor: pointer;
    }
    .text-right {
      text-align: right;
      margin-top: 10px;
    }
  }
}
.posts-new {
  margin: 0 auto;
  padding-bottom: 175px;
  h2 {
    text-align: center;
  }
  .form {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    .text-area {
      width: 494px;
    }
    .file-field {
      margin: 10px;
    }
    .form-btn {
      text-align: right;
    }
    .btn {
      color: #ffffff;
      background-color: #1877f2;
      height: 30px;
      border: none;
      border-radius: 5px;
      width: 100%;
      font-weight: bold;
    }
    .btn:hover {
      background-color: #0f69df;
      cursor: pointer;
    }
  }
}
.users-show {
  margin: 0 auto;
  padding-bottom: 100px;
  h2 {
    text-align: center;
  }
  .edit-profile-link {
    text-align: center;
    display: block;
  }
  .main {
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
  }
  .post-info {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 700px;
    .user-name {
      font-weight: bold;
    }
    .edit-post-link {
      position: absolute;
      right: 0;
      top: 7px;
    }
  }
}
.users-index {
  margin: 0 auto;
  padding-bottom: 100px;
  h2 {
    text-align: center;
  }
  .main {
    width: 300px;
    margin: 20px auto;
    padding: 0 20px;
    background-color: #ffffff;
  }
  table {
    width: 300px;
    tr {
      height: 80px;
      th {
        font-size: 1.5rem;
        padding: 0;
        text-align: left;
      }
      td {
        font-size: 1.5rem;
        width: 60px;
        text-align: right;
      }
    }
  }
}
.users-edit {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 400px;
  h2 {
    text-align: center;
  }
  .form {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto 0;
    height: 100%;
    ul {
      width: 304px;
      padding: 0;
      margin: 0 auto;
    }
    li {
      text-align: left;
      list-style: none;
      width: 300px;
      margin: 10px 0;
    }
    .field {
      width: 100%;
      height: 25px;
      padding: 0;
      margin: 0;
    }
    .btn {
      color: #ffffff;
      background-color: #1877f2;
      height: 30px;
      border: none;
      border-radius: 5px;
      width: 100%;
      margin-top: 10px;
      font-weight: bold;
    }
    .btn:hover {
      background-color: #0f69df;
      cursor: pointer;
    }
  }
}
.footer{
  background-color: #ffffff;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  p {
    font-size: 1rem;
    color: #dddddd;
    margin: 0;
    height: 55px;
    line-height: 55px;
  }
}
